:root {
    --background-color: #020f13;
    --text-color: #ddd;
    --secondary-color: color-mix(in srgb, var(--background-color) 100%, #fff 50%);
    --color-1: #00b7ff;
    --color-2: #5db604;
    --color-3: #ff3cbe;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--background-color);
}

/* NAV BAR STYLES */
@scope (.nav) {
    & {
        padding: 10px;
        font-family: din-round;
        max-width: 15rem;
    }

    & h1 {
        color: var(--color-2);
        font-family: feather-bold;
        margin: 0 20px 17px 12px;
        font-size: 2rem;
    }

    & .nav__a {
        padding: 10px;
        color: var(--text-color);
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;

        &:hover {
            background-color: color-mix(in srgb, var(--background-color) 100%, #fff 7%);
        }
        
        & .nav__icon {
            height: 32px;
            width: 32px;
        }
        
        & .nav__text {
            margin-left: 10px;
            text-transform: uppercase;
        } 
        
    }

    & picture { 
        width: 32px;
        height: 32px;
        & img {
            width: inherit;
            height: inherit;
            clip-path: circle();
        }
    }
}